@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.background
{
    height: 2060px;
width:auto;
background-color:#fff;
margin:0 auto;
}
body
{
	background-color: #e3e8f8;
	width:100%;
	overflow-x:hidden;
}
.header
{
	height:122px;
	width:auto;
	//border:1px black solid;
	margin:0 auto;
}

.B1-container
{
    height: 68px;
    width: 1245px;
    //background-color: black;
  //  border: 1px red solid;
    //: ;
    margin-top: 0px;
    margin: 0 auto;
    margin-top: 0px;
}
.logo-container
{
	    height: 67px;
    width: 145px;
    margin-left: 28px;
    //border: 1px red solid;
    margin-top: 5px;
}
.logo-container img{
	    width: 91px;
}
.search-button 
{
        float: right;
    border-radius: 0px;
    margin-top: -54px;
    width: 231px;
    height: 40px;
   // border: 1px solid black;
   
}
.search-button fa
{
	margin-top:2px;
}
/*.search-button  button
{
	    float: right;
    margin-top: 3px;
    margin-right: -198px;
    border-radius: 17px;
    border: none;
}

.search button
{
float: right;
    margin-top: 3px;
    margin-right: -198px;
    border-radius: 17px;
    border: none;	
}*/
input[type=text]
{
	
        padding: 6px;
    border: 2px solid gray;
    border-radius: 30px;
    float: right;
    width: 200px;
    height: 36px;
    font-size: 17x;
    margin-top: 2px;
    background: #f1f1f1;
    margin-right: 23px;
}

#search 
{
	        float: right;
    margin-top: 12px;
    margin-right: -184px;
    border-radius: 17px;
    border: none;
}
#covid
{
	margin:0;
	padding:10;
	text-align:center;
	color:white;
}
/*.search-button
	{
		height: 42px;
    width: 232px;
   // background-color: ;
    float: right;
    margin-right: 138px;
    margin-top: 4px;
	}
	input
	{
		height: 28px;
    margin-top: 6px;
    background-color: white;
	}*/
.B1

{
	margin-top:-81px;
	height:70px;
	width:auto;
	 background-color: black;
	//border:1px red solid;
	    margin-top: 0px
}
.B2

{
	
	height: 50px;
    width: auto;
    background-color: white;
   //border: 1px #454546 solid;
   margin-top:0px;
}
p
{
	margin-left: 87px;
   // font-style: italic;
    font-size: 20px;
    /* margin-bottom: 2px; */
    margin-top: 11px;
	color:black;
	}
	#Hname
	{
		margin-left: 87px;
    font-style: italic;
    font-size: x-large;
    /* margin-bottom: 2px; */
    margin-top: 11px;
	color:white;
	padding:10;
	}
	
	.d1
	{
		height: 38px;
        width: 132px;
		//border:1px red solid;
		//background-color:black;
		//float:left;
		//margin-left:50px;
	}
	.res
	{
		height: 38px;
        width: 149px
		//border:1px red solid;
		background-color:#f1bdca;
		//float:left;
		//margin-left:50px;
	}
		.d2
	{
		height: 38px;
        width: 132px;
		float:left;
		//background-color:black;
		//border:1px red solid;
		margin-left:50px;
	}
	#child
	{
		padding:10px 42px;
	}
	
.nav
{
	margin: 6px auto;
    display: flex;
    flex: 1;
    justify-content: space-around;
	margin-right: 55px;
	
}
.nav a:visit{
	 text-decoration:none;
	 float:left;
}
.nav a:hover {
 
  text-decoration:none;
  float:left;
 // background-color:gray;
    cursor: pointer;
    //  border-bottom: inset;
	  color:gray;
  
}
.nava:active
{
	text-decoration:underline;
	float:left;
	
}
.nav a {
    float: left;
    padding: 10px 25px;
    text-align: center;
   cursor: pointer;
    color: black;
    text-decoration: none;
    text-align: center;
	
}
	.n1
	{
		
		float: left;
	}
	
	list {
    float: left;
    margin-left: 100px;
}
/*Reservation*/
.reservation-container
{
	height: 352px;
    width: 734px;
    background-color: red;
	float:right;
	border:1px red solid;
	display:none;
	
}


.box1
{
    height: 352px;
    width: 734px;
    background-color: #f0f0f0;
	float:right;
}

#res
{
	Height: 43px;
    width: 182px;
    margin-top: 50px;
    margin-left: 41px;
    border: none;
    font-size: 17px;
	color: #888888;
}
/*label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}*/

input,
label {
        margin: .4rem 0;
        margin-top: 44px;
    margin-left: 42px;
    height: 41px;
    width: 275px;
    background-color:white;
}
.center-button
{
    height: 100px;
    width: 158px;
    /* border: 1px red solid; */
    /* margin-left: 40px; */
    /* margin: 0 auto; */
    margin-left: 287px;
    margin-top: 55px;
}
     
.center-button button
{
        height: 50px;
    width: 140px;
    margin-top: 81px;
    /* margin-left: 220px; */
    background-color: #f1bdca;
    border: none;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 227px;
    float: right;
    margin-right: 377px;
}



/*slide show*/



.div3
{
	margin:0 auto;
	
height:550px;
width:1333px;
//border:1px red solid;
margin:0 auto;
	background:url("img15.jpg");
}

.btn-left button
{
	 height: 70px;
    width: 100px;
    margin-top: -328px;
    /* margin: 0 auto; */
    border: none;
    background-color: #0000009c;
	font-size:50px;
	color:white;
	 z-index: 1;
	
}
.btn-right button 
{
    height: 70px;
    width: 100px;
    margin-top: -328px;
    /* margin: 0 auto; */
    border: none;
    background-color: #0000009c;
	//float:left;
	    margin-left: 1234px;
		
		font-size:50px;
	color:white;
}
.middle-content  button
{
	height: 343px;
    width: 1332px;
    background-color:#00000000;
    /* margin-top: -159px; */
    margin: 0 auto;
        margin-top: -352px;
    z-index: 1;
	border:none;
	outline:none;
	//background-image:url("backgroundtrans.png");
}
.middle-content  img
{
margin-top: -370px;
    width: 1332px;
    margin-left: -5px;
		
}

/*.background-container
{
	background-color: black;
	z-index:1;
	height:500;
	width:auto;
}*/
.mid-content
{
	    height: 200px;
    width: 607px;
    /* border: 1px red solid; */
    /* margin-top: -549px; */
    margin: 0 auto;
    margin-top: -318px;
    color: white;
	
}
.mid-content p
{
	color:white;
	font-size: 32px;
}
.center-button
{
	    height: 100px;
    width: 200px;
   // border: 1px red solid;
    /* margin-left: 40px; */
    margin: 0 auto;
        margin-top: -185px;
    margin-left: 607px;
}
#button
{
    height: 50px;
    width: 140px;
    margin-top: 81px;
    margin-left: 220px;
    background-color:#f1bdca;
    border: none;
}

img
{
	//background: rgba(0, 0,0.57, 0.57);
	//background:url("background.png");
    margin: 0 auto;
    width: 100%;
	//z-index:1;
}
/*.image
{
	background:url("background.png");
	height:50%;
	width:auto;
	z-index:1;
}*/


.div4
{
	height: 228px;
    width: auto;
   // border: 1px red solid;
    text-align: center;
	margin-top: 91px;
	
}
#para1
{
	    height: 197px;
        width: 1161px;
		//border: 1px red solid;
		font-style:none;
		color:#888888;
}
/*.div5
{
	//position: relative;
  //  display: inline-block;
   // padding: 1em 5em 1em 1em;
   // overflow: hidden;
    //color: #fff;
    height: 500px;
    width: auto;
    //float: right;
	border:0.5px black solid;
	margin-top:100px;
	
	
	
}
*/
.img
{
	    height: 501px;
    width: 100%;
    background-color: red;
	background:url("img12.jpg");
	box-shadow: inset 0px 200px 200px 0px rgba(0,0,0,55);
}
.slant-img
{
	    height: 501px;
    width: 100%;
    background-color: red;
	background:url("img15.jpg");
	    background-repeat: no-repeat;
}
.slant {
    position: relative;
    display: inline-block;
    padding: 1em 5em 1em 1em;
    overflow: hidden;
    color: #fff;
    height: 486px;
    width: 33%;
    float: right;
    margin-top: -518px;
    z-index: 0;
}

.slant:after
 {
    content: '';
    position: absolute;
    top: 17px;
    bottom: 4px;
    left: 84px;
    width: 120%;
    height: 97%;
    background: #f0f0f0;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 0 10%0;
    -webkit-transform: skew( 
-121deg
 );
    -ms-transform: skew(-7deg);
    transform: skew( 
-10deg
 );
    z-index: -1;
}
#text
{
	       height: 46px;
   // width: 250px;
  
   // border: 2px red solid;
    /* padding: 10px 42px; */
    margin-left: 148px;
    /* margin-top: 83px; */
    color: #888888;
    text-align: center;
    font-size: 17px;
}
h3
{
	color: #888888;
    margin-top: 161px;
    text-align: center;
    margin-left: 137px;
}


.slant-inside
{
	height:50px;
	width:50px;
	border: 1px red solid;
}
h1
{
	font-family: "Quattrocento",serif;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0 0 .25em 0;
    color: #888;
    text-transform: uppercase;
	text-align:center;
	margin-top: -64px;
}
.mid-content2 p{
	    font-size: 20px;
    margin: 0 auto;
    color: white;
    height: 20px;
    width: 206px;
   // border: 1px red solid;
    margin-top: -138px;
}
.center-button  #button
{
	height: 50px;
    width: 140px;
    margin-top: 81px;
    margin-left: 220px;
    background-color: #f1bdca;
    border: none;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 26px;
}
	
.B2-slant

{
	
	height: 50px;
    width: auto;
    background-color: white;
   //border: 1px #454546 solid;
}
.nav2
{
	    margin: 6px auto;
    display: flex;
    flex: 1;
    /* justify-content: space-around; */
    /* margin-right: 55px; */
    margin-left: 375px;
	color:#888888;
	
}
.nav2 a:visit{
	 text-decoration:none;
	 float:left;
}
.nav2  a:hover {
 
  text-decoration:none;
  float:left;
 // background-color:#636363;
     //border-bottom:.5px #636363 solid;
	//width: 120px;
	color:#888888;
  
  
}
.nav2 a:active
{
	//text-decoration:underline;
	float:left;
	cursor: pointer;
	//border-bottom: 1px #636363 slid;
}
.nav2 a {
    float: left;
    padding: 10px 25px;
    text-align: center;
       width: 137px;
    color: black;
    text-decoration: none;
    text-align: center;
	cursor: pointer;
}
	.n1
	{
		
		//float: left;
	}
	
	list {
    float: left;
    margin-left: 100px;
}

/*Footer*/
.footer
{
	//position: fixed;
	background-color:#f0f0f0;
	height:370px;
	width:auto;
	//border: 2px red solid;
	    margin-top: 100px;
		    padding: 29px;
}
.icons{
height: 350px;
    width: 434px;
    //background-color: white;
    float: left;
    margin-left: 130px;
    margin-top: 50px;
   //border: 0.5px red solid;
}
.icon-button
{
	    position: inherit;
    height: 50px;
    width: 100px;
    float: left;
    /* margin: 0; */
    margin-left: 10px;
	    margin-top: 38px;
		color:white;
}
.loaction
{
	height: 100px;
    width: 347px;
   // border: 0.5px red solid;
   // border-top: -30px;
    margin-top: -15px;
}
.phone
{
	height: 100px;
    width: 347px;
   // border: 0.5px red solid;
   // border-top: -30px;
    margin-top: -15px;
}
.mail
{
	height: 100px;
    width: 347px;
    //border: 0.5px red solid;
   // border-top: -30px;
    margin-top: -15px;
}
#loaction
{
	  //  background: white;
    border-radius: 50%;
    width: 58px;
    height: 58px;
	margin-top: 16px;
	border:none;
}
#phone
{
	//background: white;
    border-radius: 50%;
    width: 58px;
    height: 58px;
	margin-top: 30px;
	border:none;
}
#mail
{
	//background: white;
    border-radius: 50%;
    width: 58px;
    height: 58px;
	margin-top: 51px;
	border:none;
}
.details
{
	    height: 90px;
    width: 187px;
     border: 0.5px red solid; 
    margin-top: 78px;
    margin-left: 151px;
    color: white;
}
#Address
{
	color:#888888;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 600;
	margin-left: 133px;
    margin-top: -58px;
}
	
	#no
	{
		    font-size: 17px;
    margin-top: -13px;
	margin-left: 133px;
        margin-top: -14px;
	}
#Ph-no
	{
	color:#888888;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 600;
	margin-left: 133px;
    margin-top: -58px;

	}
	
	#Number
	{
			margin-left: 133px;
        margin-top: -14px;
		font-size: 17px;
		
	}
	
#Email-Address
{
color:#888888;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 600;
	margin-left: 133px;
    margin-top: -58px;
}	
#Email-id
{
	margin-left: 133px;
        margin-top: -14px;
		font-size: 17px;
}
.nav3
{
	    margin: 6px auto;
    display: flex;
    flex: 1;
    /* justify-content: space-around; */
    /* margin-right: 55px; */
    margin-left: 290px;
	margin-top: 30px;
}

	
	#add
	{
		height: 38px;
    width: 272px;
    /* border: 1px red solid; */
    font-size: 18px;
	color:#888888;
}
#d2
{
	float: left;
    padding: 12px 25px;
    text-align: center;
    width: 128px;
    color: #888888;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
	    
}
.d3
{
	margin-left: -25px;
	    
}
#d3 a:hover {
 
  text-decoration:none;
  float:left;
 // background-color:#636363;
     border-bottom: 1px #636363 solid;
	width: 137px;
  
  
}
#Follow
{
    text-align: center;
    font-size: 25px;
    margin-top: -21px;
	color:#888888;
}
.social-icon
{
	    height: 47px;
    width: 283px;
    border: 0.5px red solid;
    margin-top: 15px;
    margin-left: 373px;
    //background-color: white;	
}
#button
{
        height: 50px;
    width: 140px;
    margin-top: 81px;
    margin-left: 220px;
    background-color: #feeef2;
    border: none;
}
.nav4 a {
    float: left;
    padding: 10px 25px 25px 3px;
    text-align: center;
    width: 37px;
    color: black;
    text-decoration: none;
    //: ;
    text-align: center;
    cursor: pointer;
    //: ;
    border-radius: 150px;
}

.nav4 a:hover {
 
// height: 8px;
   // width: 15px;
     color:#888888;
    cursor: pointer;
   \\background-color:#c1c1c1;
    border-radius: 178px;
  
}
.nav4
{
	     margin: 6px auto;
    display: flex;
    flex: 1;
    justify-content: space-around;
    /* margin-right: 55px; */
    float: left;
    width: 240px;
    height: 44px;
   // border: 2px red solid;
    margin-left: 374px;
	color:#888888;
	
}
.nav4 a:visit{
	 text-decoration:none;
	 float:left;
}
list {
    float: left;
    margin-left: 100px;
}
.d4
{
	height: 38px;
    width: 41px;
    background-color: white;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 178px;
	
}



#btn
{
	     height: 40px;
    width: 194px;
    margin-top: 11px;
    margin-left: 116px;
    background-color: white;
    border: none;
    text-align: left;
}
hr
{
	margin-top:50px;
	width:1000px;
}

#end
{
	       margin-top: 16px;
    font-size: 17px;
    color: #888888;
    text-align: center;

}
.fa 
{
font-size: 25px;
    margin-top: -4px;
	//margin-left: 7px;
}
#btn-para
{
	    color: #888888;
    font-size: 14px;
    /* margin-top: -8px; */
    text-align: center;
    margin-left: -43px;
}

.end-text
{
	    float: left;
    padding: 27px 25px 19px 226px;
    text-align: center;
    width: 1294px;
    color: black;
    text-decoration: none;
    //: ;
    /* text-align: center; */
    cursor: pointer;
    //: ;
    /* border-radius: 150px; */
  //  border: 1px red solid;
    height: 24px;
    margin-top: -9px;
}
.nav5 a {
    float: left;
 padding: 4px 13px 0px 11px;
    text-align: center;
    width: 165px;
    color:#888888;
   // text-decoration: none;
    //: ;
    text-align: center;
    cursor: pointer;
    //: ;
    border-radius: 150px;
}

.nav5 a:hover {
 
// height: 8px;
   // width: 15px;
     color:#888888;
    cursor: pointer;
   \\background-color:#c1c1c1;
    border-radius: 178px;
	    text-decoration: blink;
}
.nav5
{    margin: 10px auto;
    display: flex;
    flex: 1;
    justify-content: space-around;
    /* margin-right: 55px; */
    float: left;
    width: 693px;
    height: 44px;
    //: ;
   // border: 2px red solid;
    margin-left: 112px;
    color: #888888;
}
.nav5 a:visit{
	 text-decoration:none;
	 float:left;
}
list {
    float: left;
    margin-left: 100px;
}
.d4
{
	height: 38px;
    width: 41px;
    background-color: white;
    margin-top: 5px;
    margin-left: 13px;
    border-radius: 178px;
	
}
.d5
{
	float: left;
   // padding: 12px 25px;
    text-align: center;
    width: 89px;
    color: #888888;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
	    margin-top: -4px;
    margin-left: -122px;    
}